.roboto-mono {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.bbh-bartle-regular {
  font-family: "BBH Bartle", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  overflow: hidden;
}

.marquee-track {
  width: max-content;
  animation: marquee 190s linear infinite;
}

.marquee-track--reverse {
  animation-direction: reverse;
}