@import "tailwindcss";

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

:root {
  font-family: "Roboto Mono", monospace;
  @apply bg-neutral-950 text-white;
}

body {
  font-family: inherit;
}

html {
  scroll-behavior: smooth;
}

@media (max-width: 420px) {
  html {
    font-size: 14px;
  }

  body {
    overflow-x: hidden;
  }
}